<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<title>Codedamn | To Do App</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<script type="text/javascript" src="js/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<style >
		label.done-true{
			color:gray;
			font-style: italic;
			text-decoration:line-through;
		}
		label[contenteditable="true"]{
			border:2px #0d8808 solid;
		}
	</style>
</head>
<body>
	
	<section class="todoapp" ng-controller="todoAppCtrl">
		<header class="header">
			<h1>To Do</h1>
			<input ng-keydown="searchEnter()"  ng-model="task" placeholder="What needs to be done?" value="" 
			autofocus="autofocus" class="new-todo">
		</header>

		<section id="tasksToShow" class="main">
      
      <ul class="todo-list">
      	<li ng-repeat="oneTask in tasks track by $index">
      		<div class="view">
      			<input type="checkbox" ng-model="oneTask.status" class="toggle">
      			<label contenteditable="false" class="done-{{oneTask.status}}"
      			ng-dblclick="contentEdit(oneTask.taskMessage)" ng-keydown="enterAgain(oneTask.taskMessage)" ng-model="oneTask.taskMessage" >
      				{{oneTask.taskMessage}}
      			</label>
      			<button ng-click="removeContent()"  class="destroy">x</button>
      		</div>
      		<input value="{{oneTask.status}}" class="edit">
      	</li>
      </ul>
  </section>
  
</section>


</body>
</html>