<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<title>Codedamn | Custom Filters</title>
	<script type="text/javascript" src="js/angular/angular.min.js"></script>
	<script type="text/javascript" src="js/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="js/filters.js"></script>
</head>
<body>
	
	<div>
		Number:<br>
		<input type="text" ng-model="number" name="">
		<br>Base<br>
		<input type="text" ng-model="baseNumber" name="">
		<br> Your number {{number}}  in base is {{baseNumber}} is {{number | base: baseNumber}}
	</div>

	
</body>
</html>